.player {
  background-color: #f7f7f7;
  border: 1px solid #ffffff;
  border-radius: 60px;
  box-shadow: 0px 60px 100px rgba(65, 44, 100, 0.3);
  padding: 50px;
}

.player-icon {
  width: 22px;
  height: 18px;
  filter: drop-shadow(1px 1px 1px #ffffff);
  cursor: pointer;
}

.active {
  filter: invert(43%) sepia(89%) saturate(536%) hue-rotate(207deg)
    brightness(97%) contrast(92%);
}

.main-controls-container {
  width: 58px;
  height: 58px;
  background-color: #f8f8f8;
  box-shadow: -10px -10px 15px #ffffff, 10px 10px 10px rgba(0, 0, 0, 0.05),
    inset 10px 10px 10px rgba(0, 0, 0, 0.05), inset -10px -10px 20px #ffffff;
  border-radius: 50%;
  padding: 8px;
}

.main-controls {
  width: 42px;
  height: 42px;
  background: linear-gradient(
    159.16deg,
    #917ce4 26.46%,
    rgba(63, 45, 137, 0) 116.55%
  );
  box-shadow: inset 10px 10px 15px rgba(255, 255, 255, 0.2);
  filter: drop-shadow(0px 5px 10px rgba(55, 46, 152, 0.65));
  border-radius: 50%;
  padding: 8px 15px;
  cursor: pointer;
}

.main-controls-image {
  width: 10px;
  height: 20px;
}

.play-container {
  width: 100px;
  height: 100px;
  padding: 14px;
}

.play {
  width: 72px;
  height: 72px;
  padding: 20px;
}

.play-image {
  width: 32px;
  height: 32px;
}

.secondary-controls {
  text-align: center;
}

.popup-overlay {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.popup-content {
  width: auto !important;
  padding: 0 20px !important;
  border-radius: 40px !important;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3) !important;
}

.popup-arrow {
  display: none;
}

.modal {
  display: unset;
  position: relative;
}

.modal-heading {
  font-weight: 900;
  font-size: 32px;
  line-height: 37px;
  color: #86748d;
  margin-bottom: 15px;
}

.modal-text {
  margin-bottom: 20px;
  color: #5d5d5d !important;
}

.modal-note {
  font-size: 12px;
  font-style: italic;
  margin-bottom: 0;
}

.text {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #aeaeae;
  text-shadow: 1px 1px 1px #ffffff;
}

.duration {
  line-height: 25px !important;
  color: #aa9bbe !important;
  margin: 0;
}

.length {
  text-align: end;
}

.progress {
  padding: 5px;
  height: 18px;
  background: #dedde3;
  box-shadow: -3px -3px 5px #ffffff, 3px 3px 5px rgba(0, 0, 0, 0.05),
    inset 3px 3px 5px rgba(0, 0, 0, 0.05), inset -3px -3px 5px #ffffff;
  border-radius: 37px;
  margin: 40px 0 5px;
}

.progress-bar {
  height: 8px;
  background: linear-gradient(327.56deg, #5d24d6 19.23%, #7e74ed 81.76%);
  box-shadow: 0px 2px 3px rgba(43, 72, 180, 0.4),
    inset 1px 1px 3px rgba(255, 255, 255, 0.4);
  border-radius: 31px;
}

.seek-container {
  text-align: center;
}

.seek {
  height: 22px;
  border: none;
  border-radius: 5px;
  background-color: #f8f8f8;
  box-shadow: 0px 2px 3px rgba(43, 72, 180, 0.4),
    inset 1px 1px 3px rgba(255, 255, 255, 0.4);
  color: #aa9bbe;
}

.seek-button {
  height: 22px;
  border: none;
  color: #917ce4;
}

.seek-button:disabled {
  color: #aeaeae;
}

.drawer {
  position: absolute;
  top: 34%;
  right: 10px;
}

@media (min-width: 768px) {
  .player {
    position: relative;
    left: -38px;
    z-index: 0;
    padding-left: 90px;
  }
}

@media (max-width: 768px) {
  .player {
    margin-top: 20px;
  }

  .drawer {
    display: none;
  }
}
