html {
  height: 100%;
}

body {
  background: #e2ddff;
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  padding: 50px;
  height: 100%;
}

@media (min-width: 768px) {
  .viewer-container {
    position: relative;
    left: 38px;
    z-index: 1;
  }
}
